<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <title>
        {% block title %}
        {% endblock %} | Tasker
    </title>
</head>

<body>
    <h1>
    <!-- Main content title block -->
    {% block content_title %}
    {% endblock%}
    <!-- End -->
    </h1>
    <!-- Main content block -->
    {% block content %}
    {% endblock%}
    <!-- End -->

</body>
</html>
