<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>
            {% block title %}
            {% endblock %} | Tasker
        </title>
</head>
<body>

    <h1>
        <!-- Main content title block -->
        {% block content_title %}
        {% endblock%}
        <!-- End -->
    </h1>
    <!-- Main content block -->
    {% block content %}
    {% endblock%}
    <!-- End -->



</body>
</html>
